body{margin: 0;}
#fundo{background-image: url(image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    height: 100vh;}
#exp{color: white;
padding-top: 30px;
font-size: 35px;
padding-left: 18px;}
#exp1{color: white;
    padding-top: 70px;
    font-size: 35px;
    padding-left: 18px;}
#texto{margin-left: 20px;
    width: 300px;
    padding-top: 20px;}
#titulo{padding-left: 40%;
    color: white;
font-size: 60px;}